extends ../main

block main-content



    .user-page--wrap(ng-controller="userController")
        .row
            .col-lg-3.col-sm-12
                .card.about-user--wrap
                    header.about-user--header.card-header {{user.rang}}
                    .about-user--image-wrap
                        img.about-user--image(ng-src="{{user.avatar}}")
                    .about-user--main-inf
                        a(ng-href="{{user.social_url}}" target="_blank", ng-bind="user.name")
                    .about-user--medals.lighten-3(class="{{styleColor}}")
                        img.medal(ng-src="/img/svg/new_user.svg" title="New user" alt="New user")
                        - if(sites.length >= 1)
                            img.medal(ng-src="/img/svg/first_site.svg" title="First site" alt="First site")
                        //img.medal(ng-src="/img/svg/first_comment.svg" title="First comment" alt="First comment")
                        - if(sites.length >= 5)
                            img.medal(ng-src="/img/svg/5_sites.svg" title="Five site" alt="Five site")
                .card.about-user--wrap
                    header.about-user--header.card-header {{ctext.user_settings}}
                    .about-user--settings
                        | to do
            .col-lg-9.col-sm-12
                .card
                    header.card-header {{ctext.user_sites}}
                        a.btn-floating.btn-large.waves-effect.waves-light.add-btn(class="{{styleColor}}", href="/site/add")
                            i.fa.fa-plus

                    div.table-content
                        table.striped
                            thead
                                tr
                                    td(data-field="title") {{ctext.table_title}}
                                    td(data-field="type") {{ctext.table_type}}
                                    td(data-field="pages") {{ctext.table_pages}}
                                    td(data-field="date") {{ctext.table_update}}
                                        a.sort(href="#")
                                            i.fa.fa-caret-down
                                    td(data-field="date") {{ctext.table_created}}
                                    td(data-field="date") {{ctext.table_actions}}
                            tbody
                                - for(var i = 0; i < sites.length; i++)
                                    tr
                                        td
                                            a.dropdown-button(href="/site/id#{sites[i].id}/page/id#{sites[i].pages[0].id}") #{sites[i].title}
                                        td #{sites[i].theme}
                                        td #{sites[i].pages.length}/5
                                        - var date = new Date(sites[i].create_date)
                                        td #{date.toLocaleString()}
                                        td #{date.toLocaleString()}
                                        td.actions-wrap
                                            a(href="/site/id#{sites[i].id}/update")
                                                i.fa.fa-pencil
                                            a(href="javascript:;" ng-click="siteRemove(#{sites[i].id})")
                                                i.fa.fa-times

