extends ../main

block main-content

    .add-site-page--wrap
        form(action="/site/save", method="post")
            .row
                .col-md-6.col-xs-12
                    .card
                        header.card-header {{ctext.add_site_site}}
                        .add-site--content
                            .input-field
                                input#site_title.validate(type="text", name="site_title")
                                label(for="site_title") {{ctext.add_site_title}}
                            .input-field
                                input#site_theme.validate(type="text", name="site_theme")
                                label(for="site_theme") {{ctext.add_site_theme}}
                            p
                                input(name="site_menu_type", type="radio", id="menu_vert", value="vert", checked)
                                label(for="menu_vert") {{ctext.add_site_vert}}
                            p
                                input(name="site_menu_type", type="radio", id="menu_hor", value="gor")
                                label(for="menu_hor") {{ctext.add_site_hor}}
                            p.tags {{ctext.add_site_tag}}
                            p(ng-init="getAllTags();")
                                tagger(ng-model="tags" options="options")
                            input.tags_container(type="hidden" name="tags" value="")
                            input(type="hidden" name="user_id" value="{{user.id}}")
                            button.waves-effect.waves-light.btn(type="submit") {{ctext.add_site_add}}

                .col-md-6.col-xs-12
                    .card
                        header.card-header {{ctext.add_site_site_pages}}
                        .add-site--content
                            - for(var i = 0; i < 5; i++)
                                .input-field
                                    input.validate(id="#{'site_page' + (i+1)}", type="text", name="#{'site_page' + (i+1)}")
                                    label(for="#{'site_page' + (i+1)}") {{ctext.add_site_page}} #{i+1}
                                .layouts
                                    span
                                        input(name="#{'site_page' + (i+1) + '_layout'}", type="radio", id="#{'site_page' + (i+1) + '_layout1'}", value="1", checked)
                                        label(for="#{'site_page' + (i+1) + '_layout1'}") {{ctext.add_site_layout}} 1
                                    span
                                        input(name="#{'site_page' + (i+1) + '_layout'}", type="radio", id="#{'site_page' + (i+1) + '_layout2'}", value="2")
                                        label(for="#{'site_page' + (i+1) + '_layout2'}") {{ctext.add_site_layout}} 2
                                    span
                                        input(name="#{'site_page' + (i+1) + '_layout'}", type="radio", id="#{'site_page' + (i+1) + '_layout3'}", value="3")
                                        label(for="#{'site_page' + (i+1) + '_layout3'}") {{ctext.add_site_layout}} 3

