extends page_wrap

block page-instuments
    .instrupents--wrap
        .row(dnd-list="models.lists['A'][0]", dnd-disable-if="models.lists['A'].length >= models.lists['A'].length")
            .col-md-3(dnd-draggable="models.lists['A'][0]", dnd-moved="models.lists['A'][0].splice(0, 1)", dnd-effect-allowed="move", dnd-selected="models.selected = models.lists['A'][0]", ng-class="{'selected': models.selected === models.lists['A'][0]}")
                .instrupents--icon.card
                    a(href="#")
                        i.fa.fa-font
            .col-md-3(dnd-draggable="models.lists['A'][1]", dnd-moved="models.lists['A'][1].splice(1, 1)", dnd-effect-allowed="move", dnd-selected="models.selected = models.lists['A'][1]", ng-class="{'selected': models.selected === models.lists['A'][1]}")
                .instrupents--icon.card
                    a(href="#")
                        i.fa.fa-picture-o
            .col-md-3(dnd-draggable="models.lists['A'][2]", dnd-moved="models.lists['A'][2].splice(2, 1)", dnd-effect-allowed="move", dnd-selected="models.selected = models.lists['A'][2]", ng-class="{'selected': models.selected === models.lists['A'][2]}")
                .instrupents--icon.card
                    a(href="#")
                        i.fa.fa-youtube-square
            .col-md-3(dnd-draggable="models.lists['A'][3]", dnd-moved="models.lists['A'][3].splice(3, 1)", dnd-effect-allowed="move", dnd-selected="models.selected = models.lists['A'][3]", ng-class="{'selected': models.selected === models.lists['A'][3]}")
                .instrupents--icon.card
                    a(href="#")
                        i.fa.fa-comments

block page-content
    .row
        div(ng-repeat="(listName, list) in models.lists", ng-if="($index > 0)", class="layout-{{$index}}")
            header.section--header {{listName}} {{Object.keys(models.lists).length}}
            .panel-body
                ul(dnd-list="list")
                    li(ng-repeat="item in list",
                        dnd-draggable="item",
                        dnd-moved="list.splice($index, 1)",
                        dnd-effect-allowed="move",
                        dnd-selected="models.selected = item",
                        ng-class="{'selected': models.selected === item}",
                        ng-switch on="item.label")
                        dnd-nodrag
                            .node.node--text--wrap(ng-switch-when="text")
                                .node--header(dnd-handle class="handle") Text
                                .input-field
                                    textarea.materialize-textarea(ng-model="item.value", ui-markdown-editor="editorOptions")
                        .node.node--image--wrap(ng-switch-when="image")
                            .node--header Image
                            .images--wrap(class="images{{item.id}}")
                                .image(ng-repeat="image in item.images")
                                    img(src="{{image.img_src}}", width="200")
                                a.btn-floating.btn-large.waves-effect.waves-light.add-btn(class="blue", href="javascript:;", data-ng-click="DropBoxInit($event)")
                                    i.fa.fa-plus(id="images{{item.id}}")
                        .node.node--video--wrap(ng-switch-when="video")
                            .node--header Video
                            .input-field
                                input#video(type="text", class="validate" placeholder="Youtube video URL" ng-model="item.value")
                        .node.node--comments--wrap(ng-switch-when="comments")
                            .node--header Comments
                            .card.comment
                                .author
                                    a(href="#") Nikita Pavets
                                .msg Hello!
                            .card.comment
                                .author
                                    a(href="#") Nikita Pavets
                                .msg  How are you?
                    li.dndPlaceholder Drop your component here
    .row
        .com-md-12
            pre.code {{modelAsJson}}
    .button_wrap
        a.waves-effect.waves-light.btn(ng-click="savePage(#{site.id}, #{page_id})") Save


