extends page_wrap

block page-content

    .page--wrap
        .row
            .col-xs-12
                header.page--header #{page.title}
                    a.edit(href="/site/id#{site.id}/page/id#{page.id}/edit", ng-if="#{site.user_id} == user.id || user.rang == 'admin'")
                        i.fa.fa-pencil-square-o
        .page--content
            .row
                - if(page.layout == 1 || page.layout == 3)
                    .col-xs-12
                        - for(var i=0; i < page.components.length; i++)
                            - if(page.components[i].position < 100)
                                - var comp = page.components[i]
                                - if(comp.label == 'text')
                                    p
                                        btf-markdown #{comp.value}
                                - if(comp.label == 'image')
                                    .images--wrap.row
                                        - for(var j=0; j < comp.images.length; j++)
                                            - if(j == comp.images.length - 1 && comp.images.length%2!=0)
                                                .image.col-sm-12
                                                    img(src="#{comp.images[j].img_src}")
                                            - else
                                                .image.col-sm-6
                                                    img(src="#{comp.images[j].img_src}")
                                            - if(j % 2 != 0 && j > 1)
                                                .clearfix
                                - if(comp.label == 'video')
                                    - var url = comp.value.replace('watch?v=', 'embed/')
                                    iframe(width="100%", height="450", src="#{url}", frameborder="0", allowfullscreen)
                                - if(comp.label == 'comments')
                                    .comments--wrap
                                        header.comments--header Comments
                                        div(comments="#{comp.id}", ng-init="updateComments(#{comp.id})")
                                            .comments--comment(ng-repeat="chat in chats", ng-init="chat.pos = $index")
                                                .author
                                                    a(href="/user/id{{chat.user_id}}/profile") {{chat.first_name+' '+chat.second_name}}
                                                    a.delete-ico(href="javascript:", ng-if="#{site.user_id} == user.id || user.rang == 'admin'", ng-click="removeComment(chat)")
                                                        i.fa.fa-times
                                                .msg {{chat.val}}

                                        .comments--new_comment(ng-if="user.id && user.lock != 1")
                                            .title New comment
                                            .input-field
                                                textarea.materialize-textarea.new_comment(name="new_comment")
                                            a.waves-effect.waves-light.btn.send-btn(href="javascript:" ng-click="pushComment(#{comp.id})") Send

                - else
                    .col-md-6.col-xs-12
                        - for(var i=0; i < page.components.length; i++)
                            - if(page.components[i].position < 100)
                                - var comp = page.components[i]
                                - if(comp.label == 'text')
                                    p
                                        btf-markdown #{comp.value}
                                - if(comp.label == 'image')
                                    .images--wrap.row
                                        - for(var j=0; j < comp.images.length; j++)
                                            - if(j == comp.images.length - 1 && comp.images.length%2!=0)
                                                .image.col-sm-12
                                                    img(src="#{comp.images[j].img_src}")
                                            - else
                                                .image.col-sm-6
                                                    img(src="#{comp.images[j].img_src}")
                                            - if(j % 2 != 0 && j > 1)
                                                .clearfix
                                - if(comp.label == 'video')
                                    - var url = comp.value.replace('watch?v=', 'embed/')
                                    iframe(width="100%", height="450", src="#{url}", frameborder="0", allowfullscreen)
                                - if(comp.label == 'comments')
                                    .comments--wrap
                                        header.comments--header Comments

                                        div(comments="#{comp.id}", ng-init="updateComments(#{comp.id})")
                                            .comments--comment(ng-repeat="chat in chats", ng-init="chat.pos = $index")
                                                .author
                                                    a(href="/user/id{{chat.user_id}}/profile") {{chat.first_name+' '+chat.second_name}}
                                                    a.delete-ico(href="javascript:", ng-if="#{site.user_id} == user.id || user.rang == 'admin'", ng-click="removeComment(chat)")
                                                        i.fa.fa-times
                                                .msg {{chat.val}}

                                        .comments--new_comment(ng-if="user.id && user.lock != 1")
                                            .title New comment
                                            .input-field
                                                textarea.materialize-textarea.new_comment(name="new_comment")
                                            a.waves-effect.waves-light.btn.send-btn(href="javascript:" ng-click="pushComment(#{comp.id})") Send

                    .col-md-6.col-xs-12
                        - for(var i=0; i < page.components.length; i++)
                            - if((page.components[i].position >= 100) && (page.components[i].position < 200))
                                - var comp = page.components[i]
                                - if(comp.label == 'text')
                                    p
                                        btf-markdown #{comp.value}
                                - if(comp.label == 'image')
                                    .images--wrap.row
                                        - for(var j=0; j < comp.images.length; j++)
                                            - if(j == comp.images.length - 1 && comp.images.length%2!=0)
                                                .image.col-sm-12
                                                    img(src="#{comp.images[j].img_src}")
                                            - else
                                                .image.col-sm-6
                                                    img(src="#{comp.images[j].img_src}")
                                            - if(j % 2 != 0 && j > 1)
                                                .clearfix
                                - if(comp.label == 'video')
                                    - var url = comp.value.replace('watch?v=', 'embed/')
                                    iframe(width="100%", height="450", src="#{url}", frameborder="0", allowfullscreen)
                                - if(comp.label == 'comments')
                                    .comments--wrap
                                        header.comments--header Comments

                                        div(comments="#{comp.id}", ng-init="updateComments(#{comp.id})")
                                            .comments--comment(ng-repeat="chat in chats", ng-init="chat.pos = $index")
                                                .author
                                                    a(href="/user/id{{chat.user_id}}/profile") {{chat.first_name+' '+chat.second_name}}
                                                    a.delete-ico(href="javascript:", ng-if="#{site.user_id} == user.id || user.rang == 'admin'", ng-click="removeComment(chat)")
                                                        i.fa.fa-times
                                            .msg {{chat.val}}

                                        .comments--new_comment(ng-if="user.id && user.lock != 1")
                                            .title New comment
                                            .input-field
                                                textarea.materialize-textarea.new_comment(name="new_comment")
                                            a.waves-effect.waves-light.btn.send-btn(href="javascript:" ng-click="pushComment(#{comp.id})") Send


            - if(page.layout == 3)
                .row
                    .col-md-6.col-xs-12
                        - for(var i=0; i < page.components.length; i++)
                            - if((page.components[i].position >= 100) && (page.components[i].position < 200))
                                - var comp = page.components[i]
                                - if(comp.label == 'text')
                                    p
                                        btf-markdown #{comp.value}
                                - if(comp.label == 'image')
                                    .images--wrap.row
                                        - for(var j=0; j < comp.images.length; j++)
                                            - if(j == comp.images.length - 1 && comp.images.length%2!=0)
                                                .image.col-sm-12
                                                    img(src="#{comp.images[j].img_src}")
                                            - else
                                                .image.col-sm-6
                                                    img(src="#{comp.images[j].img_src}")
                                            - if(j % 2 != 0 && j > 1)
                                                .clearfix
                                - if(comp.label == 'video')
                                    - var url = comp.value.replace('watch?v=', 'embed/')
                                    iframe(width="100%", height="450", src="#{url}", frameborder="0", allowfullscreen)
                                - if(comp.label == 'comments')
                                    .comments--wrap
                                        header.comments--header Comments

                                        div(comments="#{comp.id}")
                                            div(comments="#{comp.id}", ng-init="updateComments(#{comp.id})")
                                            .comments--comment(ng-repeat="chat in chats", ng-init="chat.pos = $index")
                                                .author
                                                    a(href="/user/id{{chat.user_id}}/profile") {{chat.first_name+' '+chat.second_name}}
                                                    a.delete-ico(href="javascript:", ng-if="#{site.user_id} == user.id || user.rang == 'admin'", ng-click="removeComment(chat)")
                                                        i.fa.fa-times
                                            .msg {{chat.val}}

                                        .comments--new_comment(ng-if="user.id && user.lock != 1")
                                            .title New comment
                                            .input-field
                                                textarea.materialize-textarea.new_comment(name="new_comment")
                                            a.waves-effect.waves-light.btn.send-btn(href="javascript:" ng-click="pushComment(#{comp.id})") Send

                    .col-md-6.col-xs-12
                        - for(var i=0; i < page.components.length; i++)
                            - if((page.components[i].position >= 200) && (page.components[i].position < 300))
                                - var comp = page.components[i]
                                - if(comp.label == 'text')
                                    p
                                        btf-markdown #{comp.value}
                                - if(comp.label == 'image')
                                    .images--wrap.row
                                        - for(var j=0; j < comp.images.length; j++)
                                            - if(j == comp.images.length - 1 && comp.images.length%2!=0)
                                                .image.col-sm-12
                                                    img(src="#{comp.images[j].img_src}")
                                            - else
                                                .image.col-sm-6
                                                    img(src="#{comp.images[j].img_src}")
                                            - if(j % 2 != 0 && j > 1)
                                                .clearfix
                                - if(comp.label == 'video')
                                    - var url = comp.value.replace('watch?v=', 'embed/')
                                    iframe(width="100%", height="450", src="#{url}", frameborder="0", allowfullscreen)
                                - if(comp.label == 'comments')
                                    .comments--wrap
                                        header.comments--header Comments

                                        div(comments="#{comp.id}", ng-init="updateComments(#{comp.id})")
                                            .comments--comment(ng-repeat="chat in chats", ng-init="chat.pos = $index")
                                                .author
                                                    a(href="/user/id{{chat.user_id}}/profile") {{chat.first_name+' '+chat.second_name}}
                                                    a.delete-ico(href="javascript:", ng-if="#{site.user_id} == user.id || user.rang == 'admin'", ng-click="removeComment(chat)")
                                                        i.fa.fa-times
                                            .msg {{chat.val}}

                                        .comments--new_comment(ng-if="user.id && user.lock != 1")
                                            .title New comment
                                            .input-field
                                                textarea.materialize-textarea.new_comment(name="new_comment")
                                            a.waves-effect.waves-light.btn.send-btn(href="javascript:" ng-click="pushComment(#{comp.id})") Send



        footer.page--footer
            .star--wrap
                - for(var i = 0; i < 5; i++)
                    - if(page.rate > 0)
                        - if(i<page.rate)
                            a.star(class="fa fa-star", href="javascript:", ng-mouseover="starMouseOver(#{i});", ng-mouseleave="starMouseOut();" ng-click="starClick(#{i},#{page.id})")
                        - else
                            a.star(class="fa fa-star-o", href="javascript:", ng-mouseover="starMouseOver(#{i});", ng-mouseleave="starMouseOut();" ng-click="starClick(#{i},#{page.id})")
                    - else
                        a.star(class="fa fa-star-o", href="javascript:", ng-mouseover="starMouseOver(#{i});", ng-mouseleave="starMouseOut();" ng-click="starClick(#{i},#{page.id})")




