extends page_wrap

block page-content

    .page--wrap
        header.page--header #{page.title}
            a.edit(href="/site/id#{site.id}/page/id#{page.id}/edit")
                i.fa.fa-pencil-square-o
        .page--content
            - for(var i=0; i < page.components.length; i++)
                - var comp = page.components[i]
                - if(comp.label == 'text')
                    p #{comp.value}
                - if(comp.label == 'video')
                    - var url = comp.value.replace('watch?v=', 'embed/')
                    iframe(width="100%", height="450", src="#{url}", frameborder="0", allowfullscreen)
                - if(comp.label == 'comments')
                    .comments--wrap
                        header.comments--header Comments
                        .comments--comment
                            .author
                                a(href="#") Никита Павец
                            .msg Hello, boys!
                        .comments--comment
                            .author
                                a(href="#") Никита Павец
                            .msg Hello, boys!
                        .comments--new_comment
                            .title New comment
                            .input-field
                                textarea.materialize-textarea.new_comment(name="new_comment")
                                input.new_comment-hash(type="hidden", value="#{comp.id}")
                            a.waves-effect.waves-light.btn.send-btn(href="javascript:" ng-click="pushComment()") Send



